<section data-ng-controller="ShowsController as vm" data-ng-init="find()">
    <div class="page-header">
        <h1>Shows</h1>
    </div>
    <div class="panel-body listShows">
        <div class="row show-list">
            <div class="TVshow col-md-12" ng-repeat="show in vm.shows">
                
                    <figure class="col-xs-6 posterLink">
                        <img class="poster img-responsive" ng-src="{{show.picture}}"/>
                        <figcaption>
                            <h2>{{show.title}}</h2>
                            <p>
                                <a data-ui-sref="home">home</a>
                            </p>
                        </figcaption>
                    </figure>
                
                <div class="details col-xs-6">
                <a data-ui-sref="showDetail({ id: show.id })">
                    <div class="showTitle">{{show.title}}</div>
                </a>
                <div class="production">
                    <span ng-show="show.status == 'Continuing' ? true: false">
                        <strong>Production:</strong> {{show.creation}} - Aujourd'hui
                    </span>
                    <span ng-show="show.status == 'Ended' ? true: false">
                        <strong>Production:</strong> {{show.creation}} - {{show.endDate}}
                    </span>
                </div>
                <div class="actors"></div>
                <div class="genres">
                    <strong>Genres:</strong>
                    <span ng-repeat="genre in show.genres">
                        {{genre}}<span ng-hide="$last">,&nbsp;</span>
                    </span>
                </div>
                <span>Notes:</span> 
                <rating class="rating" ng-model="show.notes.mean" readonly=true state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'"></rating>
                <b>({{show.notes.mean}})</b>
                <div class="favoris">
                    <button class="btn btn-success glyphicon glyphicon-heart">
                        <span class="textButton">Favoris</span>
                    </button>
                    <div class="followers">{{show.followers}} followers</div>
                </div>
                <div class="description" data-ng-bind="show.description" data-ellipsis></div>
                <div class="border"></div>
            </div>
        </div>
    </div>
  <pagination boundary-links="true" total-items="vm.totalItems" data-ng-model="vm.currentPage" data-ng-change="vm.pageChanged()" max-size="9" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
</section>